/* Styling for the header */
.login-signup-header {
    font-weight: bold;
    color: var(--primary-color);
}

/* Styling for the sub header */
.login-signup-subheader {
    color: var(--text-color);
}

/* Styling for the login & signup container */
.login-signup-container {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

/* Styling for the logo to display on the container */
.login-signup-header-logo {
    max-width: 120px; 
    height: auto; 
}

/* General Syling for Login/Signup Button */
#login-btn, #signup-btn {
  border: none;
  padding: 5px 15px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Login Button */
#login-btn {
  background-color: var(--primary-color);
  color: var(--button-text-color);
}

/* Signup Button */
#signup-btn { 
  color: var(--button-text-color);
  background-color: var(--secondary-color);
}

/* Login and Signup button hover effects */
#signup-btn:hover, #login-btn:hover {
  filter: brightness(110%);
  transform: translateY(-2px);
}

/* Switch form toggle */
.login-signup-switch-form {
    color: var(--text-color); 
    cursor: pointer; 
    font-weight: bold; 
    text-decoration: underline; 
    margin-top: 20px; 
    transition: color 0.3s ease; 
}

/* Switch form toggle hover */
.login-signup-switch-form:hover {
    color: var(--primary-color); 
    text-decoration: none; 
}