/* jobs.css */


/* -------------------Table View Start--------------------------*/

/* Table styles */
.job-table-container {
  border-radius: 7px; /* Same border-radius as the table */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
}

.job-table {
  border-collapse: collapse;
  border-radius: 10px; /* Adjust the value to control the rounding */
  width: 100%;
}

.job-table th,
.job-table td {
  border: 1px solid #b8b5b5; /* You can adjust the border color as needed */
  padding: 10px; /* Increase padding for better spacing */
  font-size: 16px; /* Larger font size for better readability */
}

/* Apply alternating row colors */
.job-table tbody tr:nth-child(even) {
  background-color: #f5f6f9; /* Light gray */
}

.job-table tbody tr:nth-child(odd) {
  background-color: #ffffff; /* White */
}

/* Hover effect for table rows */
.job-table tbody tr:hover {
  background-color: #f0f0f0 !important; /* Light gray background color on hover */
}

/* Header styles */
.job-table th {
  background-color: #007bff; /* Green */
  color: white;
  font-size: 16px; /* Larger font size for better readability */
  border: 1px solid rgba(184, 181, 181, 0.5); /* Transparent border color */
  border-radius: 7px 7px 0 0; /* Rounded top corners */
}

/* Hover effect for header */
.job-table th:hover {
  background-color: #6da9ea; /* Darker green on hover */
}

/* Button styles */
.jobs-page-button-add-job {
  margin-top: 20px;
  margin-bottom: 20px; /* Add space below the button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  background-color: rgb(69, 168, 69);
  border-color: transparent; /* Remove border outline color */
  
}
.jobs-page-button-add-job:hover {
  background-color:green;  /* Darker green on hover */
  transform: translateY(-2px);
}

/* Action buttons */
/* Edit Button */
/* Edit Button */

.job-action-buttons button.edit {
  padding: 10px 20px;
  margin-right: 10px; /* Add space between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  background-color: rgb(170, 167, 163); /* Orange */
  border-color: transparent; /* Remove border outline color */
}

.job-action-buttons button.edit:hover {
  background-color: #6a6967; /* Darker orange on hover */
  transform: translateY(-2px);
}

/* Delete Button */
.job-action-buttons button.delete {
  padding: 10px 20px;
  margin-right: 10px; /* Add space between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  background-color: #f44336; /* Red */
  border-color: transparent; /* Remove border outline color */
}

.job-action-buttons button.delete:hover {
  background-color: #dd1919; /* Darker red on hover */
  transform: translateY(-2px);
}



/* Pagination controls */
.pagination-button {
  padding: 8px 12px; /* Adjusted padding for larger buttons */
  margin: 0 4px; /* Add space between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  font-size: 16px; /* Adjusted font size for larger text */
  width: auto; /* Let the width be determined by the content */
}

.pagination-button:hover {
  transform: translateY(-2px);
}

/* Adjusted padding for arrows */
.pagination-button.prev,
.pagination-button.next {
  padding: 8px 16px;
}

/* Optional: Add additional styling if needed */
.pagination-button.active {
  color: #1c9d31; /* Active page button color */
  text-decoration: underline; /* Underline active page number */
}

/* Adjust the color of disabled buttons */
.pagination-button.disabled {
  color: #ccc; /* Disabled button color */
}



.pagination-info {
  margin-right: 10px;
}





/* -------------------POP-UP FOR ADD and EDIT FORM--------------------------*/

/* AddJobsModal.css */

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  max-height: 80vh; /* Set a maximum height relative to the viewport height */
  overflow-y: auto; /* Allow vertical scrolling if content exceeds the maximum height */
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.form-column {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.modal-button {
  padding: 8px 14px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* ADD FORM BUTTONS  */
.job-modal-button-save,
.job-modal-button-add {
  padding: 10px 20px;
  margin-right: 10px; /* Add space between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  background-color: rgb(69, 168, 69);
  border-color: transparent; /* Remove border outline color */
}

.job-modal-button-save,
.job-modal-button-add:hover {
  background-color: green; 
  transform: translateY(-2px);
}

/* Delete Button */
.job-modal-button-cancel {
  padding: 10px 20px;
  margin-right: 10px; /* Add space between buttons */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  color: white;
  background-color: #b0afab; /* Darker orange on hover */
  border-color: transparent; /* Remove border outline color */
}

.job-modal-button-cancel:hover {
  background-color: #6a6967; /* Darker orange on hover */
  transform: translateY(-2px);
}






/* -------------------POP-UP FOR ADD and EDIT FORM END--------------------------*/

/* -------------------------Delete Modal Styles-----------------------------*/
.delete-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.delete-modal-content {
  background-color: #fff; /* Modal background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  max-width: 500px; /* Adjust width as needed */
  width: 100%;
  justify-content: center; /* Center the buttons horizontally */
}

.delete-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #888;
}

.delete-modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.delete-modal-button {
  width: 100%;
  padding: 8px 14px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.delete-modal-button.delete {
  background-color: #f44336; /* Red */
  color: white;
}

.delete-modal-button.delete:hover {
  background-color: #dd1919; /* Darker red on hover */
  
}

.delete-modal-button.cancel {
  background-color: #ccc; /* Light gray */
  color: #333;
}

.delete-modal-button.cancel:hover {
  background-color: #b3b3b3; /* Darker gray on hover */
}
/* -------------------------Delete Modal Styles END-----------------------------*/