/* Root Colors for App Theme */
:root {
  --primary-color: rgb(255, 96, 6); /* Primary orange color */
  --secondary-color: #d35400; /* Adjusted secondary color for consistency */
  --background-color: #f4f4f4; /* Light grey background */
  --text-color: #333; /* Dark text color for contrast */
  --button-text-color: white; /* White text color for buttons */
}

/* Ensure consistency across browswers */
body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}